build/
build-debug/
.vscode/
.qtcreator/
build/build.ninja
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/snipQ_autogen.dir/AutogenInfo.json
build/build.ninja
build/build.ninja

.kdev4/
